
label{
  display:block;
  color:rgb(47, 1, 133);
}
body{
  background:rgba(150,190,230);
  z-index:2;
}
div.hvr:not(:last-of-type):hover{
  border:1.5px solid white;
}
form > div:not(:last-of-type)
{
  background-color:rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  border-radius: 10px;
  margin:20px 200px;
  padding:15px;
}
form > div > label{
  color:darkred;
}
div div{
  padding-left:40px;
  margin-top:20px;
}
input[placeholder^="Enter"]{
  outline:none;
  width:50%;
}
textarea{
  width:100%;
  outline:none;
  margin-top:20px;
  border:1px solid black;
}
sup{
  color:blue;
}
input[type="submit"]:hover{
  border:1.5px solid black;
}
input[type="submit"]
{
  background-color:rgb(0, 153, 255);
  font-size: 75%;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  border:1px solid white;
  width: 15%;
  height:50px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  outline:none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
[placeholder^="Enter"]:hover{
  box-shadow:0 0 5px 3px rgba(0,0,0,0.3);
}
